.container {
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.rows {
  display: flex;
  height: 100%;
  align-items: center;
}

.login_text {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.column_one {
  display: none;
  width: 100%;
  background: url("../../../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.column_two {
  width: 100%;
  padding: 20px;
}

@media only screen and (min-width: 576px) {
  .column_one {
    display: block;
  }
}
