.card {
  padding: 1.2rem;
  border-radius: 7px;
  background-color: var(--dark-theme-secondary);
  border: 1px solid var(--dark-theme-secondary);
  margin-bottom: 15px;
  width: 100%;
}

.card_lead_text {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}

.card:hover {
  border: 1px solid var(--primary-color);
  transition: 0.5s;
}

@media only screen and (min-width: 576px) {
  .card {
    width: 42%;
  }
}
